example
node_modules
src
Dev
screenshots
typings
__tests__
coverage
.git
.vscode
lcov.info
index.html
main.js
server.js
tsconfig.json
typings.json
webpack.config.js
.npmignore
.codeclimate.yml
.gitignore
GALLERY.md